<div class="c-tests-example">
  <h1>Items</h1>
  <section *ngIf="data">
    <h2></h2>
    <article *ngFor="let elem of data">
      <div>id :: {{elem.id}}</div>
      <div>title :: {{elem.title}}</div>
      <div>description :: {{elem.description}}</div>
    </article>
  </section>
  <section>
    <button (click)="toggleAddItem()" type="button">{{ showForm === true ? 'Hide form' : 'Add item' }} </button>
    <form *ngIf="form && showForm" [formGroup]="form" (ngSubmit)="submit()">
      <div class="c-tests-example__form-element">
          <label [for]="idId">Id</label>
          <input formControlName="id" type="text" id="idId" class="c-tests-example__form-element--disabled"/>
        </div>
      <div class="c-tests-example__form-element">
        <label [for]="titleId" >Title</label>
        <input formControlName="title" type="text" id="titleId"/>
        <div class="c-tests-example__form-element-error" *ngIf="formHasError">Title must have a value</div>
      </div>
      <button type="submit">Submit </button>
    </form>
  </section>
</div>