
#{'.c-tests-example'} {
  padding-left: 50px;
  & section {
    padding-left: 10px;
    & article {
      padding-bottom: 10px;
      border: 1px solid;
    }
  }
  & button {
    margin: 10px 0px;
  }
  &__form-element {
    padding: 5px 0px;
    & label {
      margin-right: 5px;
    }
    &--disabled {
      opacity: 0.5;
    }
    &-error {
      color: red;
    }
  }
}